.parent-container{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-container{
    display: flex;
    flex-direction: column;
    background-color: #4070f4;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
}

.verify-container>h1{
    color: white;
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
}

.input-field{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.input-field>input{
    width: 90%;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
}

button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

button:hover{
    cursor: pointer;
}

.resend-link{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}

.resend-link>span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}