.reset-pass-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(12, 6, 79);
}

.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.password-input{
    width: 24rem;
    height: 3rem;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 7px;
}

.user-name{
    color: white;
}